@model PhoneBook.Models.Email

<!-- Modal -->
<div class="modal fade" id="DeleteEmailModal" tabindex="-1" aria-labelledby="DeleteEmailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteEmailLabel">Delete Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EmailType.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EmailType.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EmailAddress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Customer.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Customer.Name)
                    </dd>
                </dl>

                <form asp-action="DeleteEmail">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="CustomerId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>